<div class="card">
    <div class="cover">
        <img src={{item.flags.png}} alt=""> 
    </div>
    <div class="details">
        <span class="title">{{item.altSpellings[1]}}</span>
       <div class="for-margin-top">
           <span class="name">Population : </span>
            <span>{{item.population}}</span>
       </div>
       <div>
           <span class="name">Region :</span>
            <span>{{item.region}}</span>
       </div>
       <div>
           <span class="name">Capital : </span>
            <span>{{item.capital}}</span>
       </div>
    </div>
    
</div>
